.main-screen {
    position: absolute;
    width: 53%;
    height: 85%;
    /* left: 692px; */
    left: 46%;
    top: 15%;
    font-family: 'Sulphur Point';
    font-style: normal;
    overflow: hidden;
}

.main-titlebar {
    display: flex;
    align-items: center;
}

.main-titlebar-title {
    margin-left: 60px;
    font-family: 'Sulphur Point';
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
}

.main-titlebar-calendar {
    position: absolute;
    right: 4%;
    background-color: rgba(236, 236, 236, 0.5);
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    /* width: 187px; */
    height: 32px;
    border-radius: 8px;
}




.main-stats {
    /* width: 100%;
    display: flex;
    align-items: center; */
    margin-left: 5%;
    margin-top: 4%;
}

.main-stat-item {
    margin-left: 60px;
    margin-right: 60px;
}

.main-stat-title {
    color: #94979A;
}

.main-stat-text {
    font-size: 25px;
}




/* 
.main-graphs {
    text-align: left;
    width: 20%;
    display: flex;
    align-items: center;
    height: 37%;
    margin-top: -10px;
}

.doughnut-graph {
    margin-left: 25%;
}

.spider-graph {
    margin-left: 25%;
} */


.graph-legends {
    display: flex;
    align-items: center;
    height: 20px;
}

.legend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    width: 100%;
    /* padding-left: 13%; */
    height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.legend-text {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 8.64865px;
    width: 100px;
    color: rgba(0, 0, 0, 0.38);
    display: flex;
    align-items: center;

}

.legend-text p {
    margin-top: 10px;
}

.legend-black {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #1F1F1F;
}

.legend-green {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C2ECC1;
}

.legend-purple {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C5C7F6;
}

.legend-green-hollow {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C2ECC14D;
    border: 1px solid #C2ECC1;
}

.legend-purple-hollow {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C5C7F64D;
    border: 1px solid #C5C7F6;
}

.legend-number {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11.5315px;
    margin-left: 16px;
}


@media (max-width: 1200px) {
    .main-titlebar {
        flex-direction: column;
        align-items: stretch;
    }
}



/* Smaller Screen */
.main-screen-small {
    position: absolute;
    width: 47%;
    height: 85%;
    left: 53%;
    top: 15%;
    font-family: 'Sulphur Point';
    font-style: normal;
    overflow: hidden;
}


@media (max-width: 990px) {
    .main-screen {
      overflow-x: auto;
    }
  }