.dashboard {
    position: absolute;
    width: 29%;
    height: 100%;
    left: 17%;
    top: 0px;
    background-color: #F8F8F8;
    font-family: 'Sulphur Point';
}

.dashboard-title {
    top: 6%;
    margin-left: 15%;
    font-size: 36px;
}

.statistics {
    /* position: absolute; */
    /* top: 20%; */
    margin-top: 20%;
}

.stats-box {
    border-bottom: 3px solid #ECECEC;
    width: 72%;
    padding-bottom: 20px;
    margin-left: 14%;
}

.stat-title {
    width: 100%;
    font-size: 18px;
    color: #94979A;
    line-height: 16px;
}

.stat-row {
    display: flex;
    align-items: center;
}

.stat-number {
    font-size: 25px;
    width: 80%;
    margin: 0;
    font-family: sans-serif;
}

.stat-trend {
    height: 28px;
    border-radius: 8px;
    width: 22%;
    margin: 0;
}

.stat-red {
    background-color: #DC3545;    
    display: flex;
    align-items: center;
}

.stat-green {
    background-color: #DDF6DE;
    display: flex;
    align-items: center;
}

.legend {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.legend-container {
    width: 100% !important;
    display: flex;
    align-items: center;
}

.legend-color-green {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #C2ECC1;
}

.legend-color-black {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #1F1F1F;
}

.legend-color-purple {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #C5C7F6;
}


