.calendar {
    position: absolute;
    width: 440px;
    height: 100%;
    left: 252px;
    top: 0px;
    background-color: #F8F8F8;
    font-family: 'Sulphur Point';
}

.calendar-title {
    margin-left: 15%;
}
