.campaign {
    position: absolute;
    width: 29%;
    height: 100%;
    left: 17%;
    top: 0px;
    background-color: #F8F8F8;
    font-family: 'Sulphur Point';
}

.campaign-title {
    margin-top: 30px;
    margin-left: 15%;
    font-size: 36px;
}

.new-campaign-btn {
    color: white;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    background: #2b2b30;
    border: 1px solid #D4D4FC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.new-campaign-btn:hover {
    cursor: pointer;
    color: #D4D4FC;
}
