/* Container */
.sidebar {
    position: absolute;
    text-align: center;
    width: 17%;
    height: 100%;
    left: 0px;
    top: 0px;
    color: white;
    background: #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sulphur Point';
    font-style: normal;
}

/* Logo  */
.main-logo {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Sulphur Point';
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-top: 10px;
}

/* Main Menu Item Groups */
.menu-group-1 {
    position: absolute;
    width: 100%;
    top: 15%;
}

.menu-group-2 {
    position: absolute;
    width: 100%;
    top: 42%;
}

.menu-group-3 {
    position: absolute;
    width: 100%;
    bottom: 1%;
}


.menu-btn {
    width: 100%;
    text-align: left;
    background: none;
    color: #f8f8f8;
    border: none;
    font-size: 18px;
    height: 40px;
    padding-left: 30%;
    font-family: 'Sulphur Point';
    font-style: normal;
    margin-bottom: 5px;
}

.menu-btn:hover {
    cursor: pointer;
    color: #e7e7fc;
}


.menu-btn-active {
    border-left: 5px solid #D4D4FC;
    color: #D4D4FC;
    padding-left: 28.5%;
}


.free-trial-window {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 55%;
}

.free-trial-inner-box {
    text-align: left;
    width: 60%;
    margin-left: 20%;
    border: 1px solid #D4D4FC;
    border-radius: 24px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.free-trial-inner-box h2 {
    font-size: 28px;
}



.trial-text {
    text-align: left;
    color: #D4D4FC;
    font-family: 'Sulphur Point';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.upgrade-btn {
    color: white;
    /* position: absolute; */
    /* width: 146px; */
    width: 80%;
    margin-left: 10%;
    height: 40px;
    /* left: 53px;
    top: 824px; */

    background: rgba(212, 212, 252, 0.12);
    border: 1px solid #D4D4FC;
    border-radius: 10px;
}

.upgrade-btn:hover {
    cursor: pointer;
}




/* Small sidebar */
.small-sidebar {
    position: absolute;
    text-align: center;
    width: 5%;
    height: 100%;
    left: 0px;
    top: 0px;
    color: white;
    background: #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sulphur Point';
    font-style: normal;
}

.menu-btn-active-small {
    border-left: 5px solid #D4D4FC;
    color: #D4D4FC;
    /* padding-left: 28.5%; */
}

button:active, button:focus {
    outline: none;
}