.navbar {
    position: absolute;
    width: 440px;
    height: 200px;
    left: 692px;
    top: 0px;
}

.search-bar {
    position: absolute;
    width: 332px;
    height: 42px;
    top: 67px;
    left: 30px;
    background: #F8F8F8;
    border-radius: 10px;
    border: none;
    text-indent: 40px;
}

.search-bar:focus {
    outline: none !important;
    border: 2px solid #d4d4fc;
    top: 65px;
    left: 28px;
    /* border-color: #d4d4fc; */
}


.profile-details {
    position: absolute;
    width: 500px;
    height: 145px;
    left: 501px;
    top: 51px;
}


.notification-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.profile-pic {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 65px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.profile-name {
    position: absolute;
    left: 130px;
}


.profile-actions {
    position: absolute;
    left: 250px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: auto;
}