.help {
    position: absolute;
    width: 29%;
    height: 100%;
    left: 17%;
    top: 0px;
    background-color: #F8F8F8;
    font-family: 'Sulphur Point';
}

.help-title {
    margin-top: 30px;
    margin-left: 15%;
    font-size: 36px;
}

.help-card {
    width: 96%;
    margin-left: 2%;
}